.search-container {
    display: block;
    margin: 0 auto;
    width: 90%;
}


#random-links {
    text-align:center;
    margin-top: 10px;
    font-size:16px;
}

#search-results {
    text-align:center;
    margin-top:10px;
}
#elements-table { 
    background-color:white; 
    border:1px solid black; 
    padding:3px; 
    width:70%; 
    margin:auto;
    min-width: 500px;
    display:inline-block;
}

#elements-table table {width:100%;}

#elements-table td { 
    color:black; 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
    font-size:8pt; 
    padding:0; 
}

#elements-table td.header { 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
    font-size:22px; 
    white-space:nowrap; 
}        

#elements-table div.label { 
    float:left; 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
}

#elements-table div.serving { 
    font-family:Arial,Helvetica,sans-serif; 
    font-size:10pt; 
    text-align:center; 
}
#elements-table div.weight { 
    display:inline; 
    font-family:Arial,Helvetica,sans-serif; 
    padding-left:1px; 
}
#elements-table  div.dv { 
    display:inline; 
    float:right; 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
}
#elements-table  table.vitamins td {  
    font-family:Arial,Helvetica,sans-serif; 
    white-space:nowrap; 
    width:33%; 
}
#elements-table  div.headline { 
    border-bottom:1px solid black;
    font-size: 11pt;
    text-align:left;
}

#elements-table  div.attrname { 
    font-size: 9pt;
    text-align:left;
   
    
}

.section-padding {
    padding: 25px 0px;
}
#elements-table div.hrline {
     border-bottom:1px dotted black;
}

#elements-table  div.attrtype { 
    font-size: 9pt;
    font-weight: normal;
    text-align:left;
}

#elements-table div.attritemlabel {
    font-size: 7pt;
    font-weight: normal;
}

#elements-table div.labellight { 
    float:left; 
    font-family:Arial,Helvetica,sans-serif; 
}
#elements-table  .highlighted {
    border:1px dotted grey;
    padding:2px;
}

div.imgholder { padding-top:10px; width:100%}
div.imgholder img { 
    max-width: 100%;
    max-height: 100%;
    display: block; /* removespace below image */
}

#elements-table tr {vertical-align: top;}

#elements-table div.attritemvalues {font-style:italic; font-weight:normal;}
#elements-table h3,h4 {font-size:9pt; margin-top:1px;margin-bottom:1px; font-weight:bold;}
#elements-table p {font-size:8pt; margin-top:1px;margin-bottom:1px; font-weight:normal;}
#elements-table table.attrtable0 {background-color:#FBFCFC   ; width:94%;margin-left:15px; margin-right:15px; margin-top:2px;}
#elements-table table.attrtable1 {background-color:#D5F5E3; width:94%;margin-left:15px; margin-right:15px; margin-top:2px;}

$link-color: #5fcf80; 

#search-results a, #random-links a {
    color:$link-color;
    text-decoration: none;
    &:visited {
        color: $link-color;
        text-decoration: none;
    }
}

#random-links {font-size: 18px; color:#717f86; font-weight: 400;}

a.nodec {    color: $link-color;
    text-decoration: none;
    &:visited {
        color: $link-color;
        text-decoration: none;
    }
}